.mod {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 224.88vw;
}

.hd {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  width: 100vw;
  height: 5.31vw;
}

.group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 32.37vw;
  width: 8.45vw;
  height: 2.66vw;
}

.icon {
  margin-right: 0.72vw;
  width: 4.11vw;
  height: 2.66vw;
}

.icon_2 {
  width: 3.62vw;
  height: 2.66vw;
}

.txt {
  opacity: 1;
  margin-right: 34.54vw;
  max-width: 44.93vw;
  height: 5.31vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 5.31vw;
  white-space: pre;
  color: #22242a;
  font-size: 3.14vw;
  font-weight: 400;
}

.block {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 5.8vw;
  height: 2.66vw;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 0.24vw;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.48vw;
  border-color: rgba(34, 36, 42, 0.35);
  width: 5.31vw;
  height: 2.66vw;
}

.color {
  border-radius: 0.24vw;
  background-color: #22242a;
  width: 4.35vw;
  height: 1.69vw;
}

.dot {
  width: 0.24vw;
  height: 0.97vw;
}

.bd {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  width: 100vw;
  height: 10.39vw;
}

.group_2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 32.61vw;
  background-color: rgba(255, 255, 255, 0.04);
  width: 4.83vw;
  height: 4.83vw;
}

.img {
  width: 1.69vw;
  height: 3.14vw;
}

.word {
  opacity: 1;
  margin-right: 33.09vw;
  max-width: 47.1vw;
  height: 5.31vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 5.31vw;
  white-space: nowrap;
  color: #22242a;
  font-size: 3.86vw;
  font-weight: 400;
}

.icon_3 {
  width: 4.11vw;
  height: 0.72vw;
}

.main {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 56.04vw;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 56.04vw;
}

.block_3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  height: 56.04vw;
  position: relative;
  background-color: rgba(34, 36, 42, 0.5);
  border-bottom-left-radius: 2.42vw;
  border-bottom-right-radius: 2.42vw;
}

.largeIcon {
  position: relative;
  align-self: flex-end;
  margin-top: 2.66vw;
  width: 12.32vw;
  height: 9.18vw;
}

.block_2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 15.22vw;
  margin-left: 9.66vw;
  height: 21.26vw;
}

.avator {
  margin-right: 4.35vw;
  width: 21.26vw;
  height: 21.26vw;
}

.outer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 21.26vw;
}

.info {
  position: relative;
  opacity: 1;
  line-height: 6.76vw;
  letter-spacing: 0.24px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 4.83vw;
  font-weight: 500;
}

.word_2 {
  position: relative;
  opacity: 1;
  margin-top: 0.48vw;
  line-height: 4.11vw;
  letter-spacing: 0.24px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 2.9vw;
  font-weight: 400;
}

.tagWrap {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 3.14vw;
  border-radius: 3.38vw;
  background-color: #d2977f;
  width: 19.32vw;
  height: 6.76vw;
}

.tag {
  opacity: 1;
  max-width: 16.43vw;
  height: 4.11vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.11vw;
  letter-spacing: 0.14px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 2.9vw;
  font-weight: 400;
}

.submain {
  width: 87.2vw;
  height: 5.31vw;
}

.empty {
  width: 7vw;
  height: 4.83vw;
}

.div {
  width: 7vw;
  height: 4.83vw;
}

.empty_2 {
  width: 7vw;
  height: 4.83vw;
}

.row {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7.25vw;
  border-radius: 4.83vw;
  box-shadow: 0px 10px 30px rgba(244, 225, 213, 1);
  background-color: #ffffff;
  padding-right: 2.66vw;
  padding-left: 3.86vw;
  width: 90.34vw;
  height: 14.49vw;
}

.group_3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 9.66vw;
}

.icon_4 {
  margin-right: 1.45vw;
  width: 7.25vw;
  height: 7.25vw;
}

.icon_5 {
  margin-right: 2.42vw;
  width: 9.66vw;
  height: 9.66vw;
  overflow: hidden;
}

.brianRodriguez {
  opacity: 1;
  max-width: 36.96vw;
  height: 5.31vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 5.31vw;
  letter-spacing: 0.19px;
  white-space: pre;
  color: #22242a;
  font-size: 3.86vw;
  font-weight: 400;
}

.price {
  opacity: 1;
  line-height: 4.59vw;
  letter-spacing: 0.19px;
  white-space: nowrap;
  color: #22242a;
  font-family: DINAlternate-Bold, DIN Alternate;
  font-size: 3.86vw;
  font-weight: NaN;
}

.ft {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5.31vw;
  border-radius: 4.83vw;
  box-shadow: 0px 10px 30px rgba(244, 225, 213, 1);
  background-color: #ffffff;
  padding-right: 2.66vw;
  padding-left: 3.86vw;
  width: 90.34vw;
  height: 14.49vw;
}

.block_4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 9.66vw;
}

.icon_6 {
  margin-right: 1.45vw;
  width: 7.25vw;
  height: 7.25vw;
}

.icon_7 {
  margin-right: 2.42vw;
  width: 9.66vw;
  height: 9.66vw;
  overflow: hidden;
}

.brianRodriguez_2 {
  opacity: 1;
  max-width: 36.96vw;
  height: 5.31vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 5.31vw;
  letter-spacing: 0.19px;
  white-space: pre;
  color: #22242a;
  font-size: 3.86vw;
  font-weight: 400;
}

.money {
  opacity: 1;
  line-height: 4.59vw;
  letter-spacing: 0.19px;
  white-space: nowrap;
  color: #22242a;
  font-family: DINAlternate-Bold, DIN Alternate;
  font-size: 3.86vw;
  font-weight: NaN;
}
