.mod {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 55.2vw;
  height: 124.13vw;
}

.hd {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  width: 55.2vw;
  height: 2.93vw;
}

.group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 17.87vw;
  width: 4.67vw;
  height: 1.47vw;
}

.icon {
  margin-right: 0.4vw;
  width: 2.27vw;
  height: 1.47vw;
}

.icon_2 {
  width: 2vw;
  height: 1.47vw;
}

.txt {
  opacity: 1;
  margin-right: 19.07vw;
  max-width: 24.8vw;
  height: 2.93vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.93vw;
  white-space: pre;
  color: #22242a;
  font-size: 1.73vw;
  font-weight: 400;
}

.block {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 3.2vw;
  height: 1.47vw;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 0.13vw;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.27vw;
  border-color: rgba(34, 36, 42, 0.35);
  width: 2.93vw;
  height: 1.47vw;
}

.color {
  border-radius: 0.13vw;
  background-color: #22242a;
  width: 2.4vw;
  height: 0.93vw;
}

.dot {
  width: 0.13vw;
  height: 0.53vw;
}

.bd {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  width: 55.2vw;
  height: 5.73vw;
}

.group_2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 18vw;
  background-color: rgba(255, 255, 255, 0.04);
  width: 2.67vw;
  height: 2.67vw;
}

.img {
  width: 0.93vw;
  height: 1.73vw;
}

.word {
  opacity: 1;
  margin-right: 18.27vw;
  max-width: 26vw;
  height: 2.93vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.93vw;
  white-space: nowrap;
  color: #22242a;
  font-size: 2.13vw;
  font-weight: 400;
}

.icon_3 {
  width: 2.27vw;
  height: 0.4vw;
}

.main {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  width: 55.2vw;
  height: 30.93vw;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 55.2vw;
  height: 30.93vw;
}

.block_3 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(34, 36, 42, 0.5);
  width: 55.2vw;
  height: 30.93vw;
}

.largeIcon {
  position: relative;
  align-self: flex-end;
  margin-top: 1.47vw;
  width: 6.8vw;
  height: 5.07vw;
}

.block_2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 8.4vw;
  margin-left: 5.33vw;
  height: 11.73vw;
}

.avator {
  margin-right: 2.4vw;
  width: 11.73vw;
  height: 11.73vw;
}

.outer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 11.73vw;
}

.info {
  position: relative;
  opacity: 1;
  line-height: 3.73vw;
  letter-spacing: 0.24px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 2.67vw;
  font-weight: 500;
}

.word_2 {
  position: relative;
  opacity: 1;
  margin-top: 0.27vw;
  line-height: 2.27vw;
  letter-spacing: 0.24px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 1.6vw;
  font-weight: 400;
}

.tagWrap {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.73vw;
  border-radius: 1.87vw;
  background-color: #d2977f;
  width: 10.67vw;
  height: 3.73vw;
}

.tag {
  opacity: 1;
  max-width: 9.07vw;
  height: 2.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.27vw;
  letter-spacing: 0.14px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 1.6vw;
  font-weight: 400;
}

.submain {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 2.67vw;
  width: 48.13vw;
  height: 2.93vw;
}

.empty {
  position: absolute;
  top: 0;
  right: -0.13vw;
  opacity: 1;
  width: 3.87vw;
  height: 2.67vw;
}

.div {
  position: relative;
  margin-right: 18.53vw;
  width: 3.87vw;
  height: 2.67vw;
}

.empty_2 {
  position: relative;
  opacity: 1;
  width: 3.87vw;
  height: 2.67vw;
}

.row {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4vw;
  border-radius: 2.67vw;
  box-shadow: 0px 10px 30px rgba(244, 225, 213, 1);
  background-color: #ffffff;
  padding-right: 1.47vw;
  padding-left: 2.13vw;
  width: 49.87vw;
  height: 8vw;
}

.group_3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 5.33vw;
}

.icon_4 {
  margin-right: 0.8vw;
  width: 4vw;
  height: 4vw;
}

.icon_5 {
  margin-right: 1.33vw;
  width: 5.33vw;
  height: 5.33vw;
  overflow: hidden;
}

.brianRodriguez {
  opacity: 1;
  max-width: 20.4vw;
  height: 2.93vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.93vw;
  letter-spacing: 0.19px;
  white-space: pre;
  color: #22242a;
  font-size: 2.13vw;
  font-weight: 400;
}

.price {
  opacity: 1;
  line-height: 2.53vw;
  letter-spacing: 0.19px;
  white-space: nowrap;
  color: #22242a;
  font-family: DINAlternate-Bold, DIN Alternate;
  font-size: 2.13vw;
  font-weight: NaN;
}

.ft {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.93vw;
  border-radius: 2.67vw;
  box-shadow: 0px 10px 30px rgba(244, 225, 213, 1);
  background-color: #ffffff;
  padding-right: 1.47vw;
  padding-left: 2.13vw;
  width: 49.87vw;
  height: 8vw;
}

.block_4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 5.33vw;
}

.icon_6 {
  margin-right: 0.8vw;
  width: 4vw;
  height: 4vw;
}

.icon_7 {
  margin-right: 1.33vw;
  width: 5.33vw;
  height: 5.33vw;
  overflow: hidden;
}

.brianRodriguez_2 {
  opacity: 1;
  max-width: 20.4vw;
  height: 2.93vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.93vw;
  letter-spacing: 0.19px;
  white-space: pre;
  color: #22242a;
  font-size: 2.13vw;
  font-weight: 400;
}

.money {
  opacity: 1;
  line-height: 2.53vw;
  letter-spacing: 0.19px;
  white-space: nowrap;
  color: #22242a;
  font-family: DINAlternate-Bold, DIN Alternate;
  font-size: 2.13vw;
  font-weight: NaN;
}
